.section-customers {
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  .headline-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  h2 {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
  }
  .splide__arrows,
  .splide__pagination {
    display: none;
  }
  .splide__track {
    height: 100px;

    @media (max-width: 600px) {
      height: 60px;
    }
    
  }
  .splide__slide {
    flex-shrink: 1;
    height: 100px;
    white-space: nowrap;
    padding: 0 30px;
    font-size: 50px;
    font-weight: 700;

    @media (max-width: $tablet-breakpoint) {
      font-size: 40px;
    }
    @media (max-width: 600px) {
      font-size: 30px;
      height: 60px;
    }
  }
}