.section-testimonials {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  .headline-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  h2 {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
  }
  
  ul {
    list-style: none;
  }

  blockquote {
    margin: 0;

    div {
      font-size: 24px;
    } 
  }

  .quotee {
    font-weight: 700;
    margin-bottom: 0;
  }
  .position {
    margin-top: 0;
    font-style: italic;
  }

  .splide__list {
    height: auto;
  }
}