.section-testimonials {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;

  &.paddingTop {
    padding-top: 40px;
  }

  &.paddingBottom {
    padding-bottom: 40px;
  }

  .headline-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  h2 {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
  }
  
  ul {
    list-style: none;
  }

  blockquote {
    margin: 0;

    div {
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    } 
  }

  .quotee {
    font-weight: 700;
    margin-bottom: 0;
  }
  .position {
    margin-top: 0;
    font-style: italic;
  }

  // slider styles
  .splide-testimonials {
    position: relative;
    padding: 0 35px;
  }
  .splide__list {
    height: auto;
  }
  .splide__arrows {
    .splide__arrow {
      border: none;
      background: none;
      cursor: pointer;
      position: absolute;
      top: 30%;
      left: -10px;
    }
    .splide__arrow--prev {
      transform: rotate(180deg);
    }
    .splide__arrow--next {
      left: auto;
      right: -10px;
    }
  }


  .splide__pagination {
    li {
      padding: 0 5px;
    }
    button {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: #717999;
      border: none;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.5s ease-in-out;

      &.is-active {
        opacity: 1;
      }
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}