html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

ul,
ol {
  margin: 0 0 1em 2em;
  padding: 0;
}

strong {
  font-weight: 500;
}

// class attached to body when overlay is open. prevents scrolling under overlay
.modal-active, .menu-active {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: flex-start;

  .prose {
    padding-right: 50px;

    @media (max-width: $tablet-breakpoint) {
      padding: 0;
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .prose {
      padding-right: 0;
      padding-left: 50px;

      @media (max-width: $tablet-breakpoint) {
        padding: 0;
      }
    }
  }
}

// target for the home page banner scroll to next section
#banner-bottom {
  float: left;
  position: relative;
  display: block;
  padding-top: 80px;
  margin-top: -80px;
}

.tech-tags {
  font-size: 14px;
  font-weight: 500;
  color: $tag-color;
}

.caption p, {
  font-size: 14px;
  margin: 0.25em 0 ;
  text-align: right;
}

.main-columns {
  display: flex;
  justify-content: flex-start;

  @media (max-width: $tablet-breakpoint) {
    display: block;
  }

  > section {
    flex: 0 0 70%;
    max-width: 70%;
    padding-right: 100px;

    @media (max-width: $tablet-breakpoint) {
      padding-right: 0;
      max-width: 100%;
    }
  }

  > aside {
    flex: 0 0 30%;
    max-width: 30%;

    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

.blog-post blockquote {
  background-color: #f5f5f5;
  margin: 1em 0;
  padding: 10px 20px;

  p {
    font-style: italic;
  }
}