html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

ul,
ol {
  margin: 0 0 0 40px;
  padding: 0;
}

// class attached to body when overlay is open. prevents scrolling under overlay
.modal-active, .menu-active {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: flex-start;

  .prose {
    padding-right: 50px;

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .prose {
      padding-right: 0;
      padding-left: 50px;

      @media (max-width: 767px) {
        padding: 0;
      }
    }
  }
}

// target for the home page banner scroll to next section
#banner-bottom {
  float: left;
  position: relative;
  display: block;
  padding-top: 80px;
  margin-top: -80px;
}