body {
  font-family: $paragraph-fonts;
}
p,
li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: $paragraph-color;

  @media (max-width: $tablet-breakpoint) {
    font-size: 16px;
  }
}
p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4 {
  font-family: $header-fonts;
  font-weight: $header-weight;
  margin: 0;
  color: $header-color;
  margin-bottom: $header-margin;

  @media (max-width: $tablet-breakpoint) {
    margin-top: $header-margin;
  }
}

h1 {
  font-size: 3rem;

  @media (max-width: $medium-screen-size) {
    font-size: 2.5rem;
  }
  @media (max-width: $small-screen-size) {
    font-size: 2rem;
  }

}
h2 {
  font-size: 2rem;
  
  @media (max-width: $medium-screen-size) {
    font-size: 1.7rem;
  }
  @media (max-width: $small-screen-size) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.7rem;

  @media (max-width: $medium-screen-size) {
    font-size: 1.5rem;
  }
  @media (max-width: $small-screen-size) {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 1.3rem;

  @media (max-width: $medium-screen-size) {
    font-size: 1.1rem;
  }
  @media (max-width: $small-screen-size) {
    font-size: 1rem;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $link-color;
  }
}
a[href*='http://'], a[href*='https://'] {
  white-space: nowrap;

  &:after {
    background-image: url('/assets/images/external-link.png');
    background-size: .7em;
    display: inline-block;
    width: .7em; 
    height: .7em;
    content:"";
    margin-left: 5px;
  }

  &.icon-link:after {
    display: none;
  }
}

.sub-title {
  margin-top: -$header-margin;
  font-size: 1.2rem;
  font-style: italic;
  color: $sub-title-color;

  @media (max-width: $medium-screen-size) {
    font-size: 1.1rem;
  }
}

.small-screen-only {
  display: none;
}
