$tablet-breakpoint: 767px;
$medium-screen-size: 1024px;
$small-screen-size: 500px;

$header-fonts: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
$header-color: #000;
$header-weight: 500;
$header-margin: 0.5em;

$sub-title-color: #717999;
$tag-color: #717999;

$paragraph-fonts: "Open Sans", Arial, Tahoma, sans-serif;
$paragraph-color: #222;

$link-color: blue;
$link-hover-color: red;