---
title: Conscious Uncoupling -Drupal 8 meets Metalsmith
layout: sections-with-sidebar.njk
pageType: "blog-post"
disableDefaultFooter: true

blogTitle: "Conscious Uncoupling - Drupal 8 meets Metalsmith"
date: "2018-06-09T12:00:00Z"
author: ""
image: ""
featuredBlogpost: true
featuredBlogpostOrder: 1
excerpt: |-
  In June 2018 I gave a presentation about how to use headless Drupal as a CMS for a Metalsmith site. Here is a video of the presentation and a Download of the presentation.

sections:
  - component: blog-banner
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    date: "2018-06-09T12:00:00Z"
    title: "Conscious Uncoupling"
    header: "h1"
    headerClass: ""
    subTitle: "Drupal 8 meets Metalsmith"
    prose: ""
    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645471283/tgc2022/blogImages/conscious-uncoupling-drupal-metalsmith/header_yrq0xy.png"
      alt: "a tree"
      aspectRatio: "16.31"
      caption: ""
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    prose: |-
      In June 2018 I gave a presentation about how to use a headless Drupal as a CMS for a Metalsmith site. The many questions after the presentation resulted in several blogposts called **Introducing ORCA**. The blogposts focus on the Metalsmith side of this presentation. Here is a video of the presentation and click here to [Download the presentation](https://res.cloudinary.com/glinkaco/image/upload/v1645472205/tgc2022/assets/ORCA_ak0fbj.pdf)

  - component: video
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    video:
      src: youtube
      id: "jQfZQdU8x8w"
      tn: "v1645472835/tgc2022/blogImages/conscious-uncoupling-drupal-metalsmith/presentation-cover_aojuwu.jpg"
      aspectRatio: "74.3"

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: ""
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""

---