---
layout: sections-with-sidebar.njk
draft: false
pageType: "blog-post"
disableDefaultFooter: true

seo:
  title: Ruhrpott - building a website with Metalsmith and Sanity.io | Werner Glinka
  description: "I built a proof-of-concept site with Metalsmith and Sanity.io. I was impressed by the ease of use and the flexibility of the Sanity.io CMS. I also like the fact that I can use the same content in multiple places."
  socialImage: "https://res.cloudinary.com/glinkaco/image/upload/v1681158901/ruhrpott_suf3ls.jpg"
  canonicalOverwrite: ""

blogTitle: "Ruhrpott - building a website with Metalsmith and Sanity.io"
date: 2022-11-28T12:00:00Z
author: ""
image: ""
featuredBlogpost: true
featuredBlogpostOrder: 1
excerpt: |-
  A badge section be used to list features, customers, awards, etc. List items may be an image or an icon, optionally it may include a title and some prose and it may include a link to other resources. 

sections:
  - component: blog-banner
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: true
    date: 2022-11-28T12:00:00Z
    title: "Ruhrpott - Building a website with Metalsmith and Sanity.io"
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: ""
    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1681158901/ruhrpott_suf3ls.jpg"
      alt: "ruhrpott blog post"
      aspectRatio: "25"
      caption: ""
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Static Site Generators (SSGs) can be a great tool for developers, but they can be challenging for content editors. Writing or editing blog posts in Markdown may not be ideal for everyone, especially for non-technical writers. While Markdown is excellent for technical documentation, it may not be the best fit for marketing writers.

      As someone who loves using Metalsmith, I faced the challenge of making this choice appealing to the people operating the website. In my search for a better user interface, I came across sanity.io. The platform promised all the right things, and I decided to build a proof-of-concept using it.

      You can visit the live site at https://ruhrpott.netlify.app/blog, and the code is available at https://github.com/wernerglinka/ruhrpott-web.

      As part of the proof-of-concept site, I created four blog posts that explore some aspects of building a Metalsmith site with a Sanity backend. These blog posts are also available on the site for reference.
   
  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: ""
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""

---