---
layout: sections-with-sidebar.njk
draft: false
pageType: "blog-post"
disableDefaultFooter: true

seo:
  title: Using the Forestry CMS with Metalsmith | Werner Glinka
  description: "Forestry.io is a Git-backed CMS for websites and web products built using static site generators. This post describes how to setup Forestry CMS with the Metalsmith Forestry Starter."
  socialImage: "https://res.cloudinary.com/glinkaco/image/upload/v1646849499/tgc2022/social_yitz6j.png"
  canonicalOverwrite: ""

blogTitle: "Using the Forestry CMS with Metalsmith"
date: 2022-04-08T12:00:00Z
author: ""
image: ""
featuredBlogpost: true
featuredBlogpostOrder: 1
excerpt: |-
  Forestry.io is a Git-backed CMS for websites and web products built using static site generators. This post describes how to setup Forestry CMS with the Metalsmith Forestry Starter.

sections:
  - component: blog-banner
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    date: 2022-04-08T12:00:00Z
    title: "Using the Forestry CMS with Metalsmith"
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: ""
    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1648738423/tgc2022/blogImages/using-forestry-metalsmith/forestry-header_r4t0vf.png"
      alt: "flexible layout"
      aspectRatio: "35"
      caption: ""
      hasShadow: true
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      In the last couple of posts I discussed the details of integrating Netlify CMS with Metalsmith. In this post I'll provide an overview of how to use Forestry for content editing with Metalsmith. Forestry.io is a Git-backed CMS for websites and web products that are built with static site generators. Just like Netlify CMS, Forestry provides an editor-friendly interface for Git.

      Forestry has a free plan for personal projects with no credit card required.

      We'll be using the [Metalsmith Forestry Starter](https://metalsmith-forestry-starter.netlify.app/) to set up Forestry CMS.

      After we have signed up for an account, we'll add a site to our account by clicking the **Add Site** button in our dashboard.

      The initial steps to import the site code from our Git providert are well explaioned in [Forestry's docs](https://forestry.io/docs/quickstart/setup-site/) so I'll not repeat this here.

      ## Configure the site
      Once the site has been added we can configure the site. If you have followed the steps in the Forestry article you should see your site's dashboard.

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/initial-welcome-screen_arqnkm.png"
      aspectRatio: "58.68"
      caption: ""
    
  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      ### Sidebar
      The Metalsmith Forestry Starter has two folders that we want to edit, the `content` and the `data` folder. The `content` folder contains all pages and the `data` folder contains the site meta data and the navigation data. 

      We will add them to the sidebar for easy access. 

      Click the **Configure Sidebar** button, then the **Add Section** button in the sidebar dashboard and select **Directory**.

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/sidebar-setup_d395qs.png"
      aspectRatio: "86.6"
      caption: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Add the info as shown below

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680768/tgc2022/blogImages/using-forestry-metalsmith/content-setup_nt3d7t.png"
      aspectRatio: "143.3"
      caption: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Here we say that we want to all files to be shown and that we allow creation of files and folders. Files will be in markdown format.

      Note that we exclude the data folder for this display. We will add this folder separately to the sidebar.

      Add the data section


  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/data-setup_xoksi0.png"
      aspectRatio: "143"
      caption: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Once these two items are setup, **click the Save button** before you leave the sidebar section.
      
      ### Repository

      The repository section will be filled in already, nothing to do here.

      ### Media

      The Metalsmith Forestry Starter commits all images to Git. The starter does not use many images so this is not an issue. For websites with many images I recommend to use Cloudinary. That makes it very [simple to implement responsive images](/blog/building-responsive-progressive-image-component/). 


  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/media-settings_tazwta.png"
      aspectRatio: "81.6"
      caption: ""    

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      ### Previews

      Select Node, click Select and fill in the configuration fields as shown below, then click Save

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/select-environmenr_nkvn2t.png"
      aspectRatio: "62.2"
      caption: ""    

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/preview-config_lrqoqa.png"
      aspectRatio: "89.5"
      caption: ""    

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Now your sidebar should look like this. You are ready to edit your site. Click on Content in the sidebar and you'll see the pages of the starter. Click on `index.md` to see the home page.


  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648745305/tgc2022/blogImages/using-forestry-metalsmith/sidebard-with-content-selected_o3psxf.png"
      aspectRatio: "65.6"
      caption: ""    

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      Forestry will show the page with the frontmatter on the left and the page body on the right. There is no template applied.

  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false 
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1648680767/tgc2022/blogImages/using-forestry-metalsmith/forestry-editor_dxzhgz.png"
      aspectRatio: "77.35"
      caption: ""    

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      We can create a template from this page by simply clicking on the three dots in the upper right corner and selecting **Create Template**. Name this template **Simple**. Now you can find the template under Frontmatter in the sidebar. [Read all there is to know about Frontmatter templates here](https://forestry.io/docs/settings/front-matter-templates/#apply-a-template-to-content). 

      This should get you started with editing your Metalsmith site with the Forestry CMS.

      Here are some suggestions for further reading:

      - https://forestry.io/docs/
      - https://medium.com/short-bits/forestry-a-cms-for-git-5030a2ea802
      - https://blog.anbuchelva.in/blog/forestry-io-as-cms-for-hexo/

      If you have any questions about this post please chat with me on [Gitter](https://gitter.im/metalsmith/community).

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: ""
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""

---