---
title: Who needs a WordPress website
layout: sections-with-sidebar.njk
pageType: "blog-post"
disableDefaultFooter: true

blogTitle: "Who needs a WordPress website?"
date: "2018-03-15T12:00:00Z"
author: ""
image: ""
featuredBlogpost: true
featuredBlogpostOrder: 1
excerpt: |-
  Do small businesses really need a website build with a CMS?

sections:
  - component: blog-banner
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    reverse: true
    date: 2018-03-15T12:00:00Z
    title: "Who needs a WordPress website?"
    header: "h1"
    headerClass: ""
    subTitle: "Sometimes a static website will do just fine"
    prose: ""
    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        url: ""
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645206748/tgc2022/blogImages/wordpress-static-website/contractors_ksplcd.jpg"
      alt: "a tree"
      aspectRatio: "25"
      caption: "Photo by [Anete Lusina](https://www.pexels.com/@anete-lusina) from [Pexels](https://www.pexels.com/photo/instruments-prepared-for-measurements-in-house-4792479)"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: long-text
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    prose: |-
      I recently finished a major renovation project on my house. During that time, I had the opportunity to speak to many contractors about their websites. I had visited their sites during the hiring process and noticed that almost all of them were built using WordPress.

      I had to ask why. Turns out the majority had no idea why they used WordPress. In many cases a friend or somebody else they knew recommended WordPress because it was so easy to use — they could update content themselves. When I asked how often they do actually update their sites, most said never. If they did need an update, they said they would hire somebody they know to do it for them.      

      That set me on a quest to learn more about this issue. I found that mid-sized businesses often do have WordPress sites for the reasons outlined above, but they almost never update the site themselves. They have neither the manpower nor the expertise, and the backend work intimidates many. Hell breaks loose when their site gets delisted from Google because it has been hacked and is silently serving porn or “pills from Canada” emails.

      So they hire a firm to maintain the site… figures.

      Many of these websites are pure brochure sites, so there really is no need for a database or a server site language.

      So why do agencies sell WordPress sites to these small/medium sized businesses? Because they can and it is so easy to build one. Install WP in five minutes, get a nice looking template and voila… instant website. Only a minimum of website-building expertise is needed. If you know how to wield a hammer, everything will start to look like a nail…

      At the end of this VERY informal survey I had anecdotal evidence that most of these businesses would benefit from a static website, which offers:

      - No periodic plugin or security updates
      - No special hosting requirements
      - Faster response
      - More secure site
      
      Content would continue to be updated by a third party, so that would not change. By implementing a static site, these businesses would save money while having a faster and safer website.

      Building static websites sounds so very 1980s. Basically these sites consist of HTML, CSS and JavaScript files stored on a server, that’s all. Given today’s wealth of building tools, a static website can be built for a cost similar to that of a WP site, only with a much lower maintenance cost. And if you like to blog, a static site works for that, too.

      I will explore this subject further. I have built several static sites using Metalsmith, Gulp and other JavaScript-based frontend tools. While I believe there is a place for a CMS-based website, many smaller businesses may be well served with a static solution.

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: ""
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""

---