{% from "../partials/responsive-image.njk" import responsiveImage %}
{% from "../partials/icon.njk" import icon %}
{% from "../partials/ctas.njk" import ctas %}


  <section class="section-contact-footer">
    {# site is in scope, was passed via the component macro #}
    
    <div class="footer-info">
      <div>
        <h2>Contact</h2>
        <form action="/" method="post" name="contact" netlify netlify-honeypot="bot-field">
          <div class="form-row">
            <input type="text" id="inputName" name="name" placeholder="Name" required />
          </div>
          <div class="form-row">
            <input type="text" id="inputEmail" name="email" placeholder="Email Address" required />
          </div>
          <div class="form-row">  
            <input type="text" name="subject" placeholder="Subject" required />
          </div>
          <div class="form-row">
            <textarea id="textarea" name="comment" placeholder="Message" required></textarea>
          </div>
          <p class="hidden"><label>Bot field: <input name="bot-field"></label></p>
          <div id="result"></div>
          <div data-netlify-recaptcha></div>
          <div class="form-row">
            <input type="submit" value="SUBMIT" class="btn-submit" />
          </div>
        </form>
      </div>
      <div>
        <h2>Werner Glinka</h2>
        <p>Web Developer</p>
        <p class="tel">650.867.0778</p>
        {% if params.hasCtas %}
          {{ ctas(params) }}
        {% endif %}

        <p class="copyright">
          © 2022 Werner Glinka
        </p>
      </div>
    </div>
 
    <a class="to-top" href="#at-top">{{ icon("arrow-up-circle") }}</a>
  </section>
