<style>
  .section-spinning-image-demo .imageSpinContainer {
    border: 1px solid #ccc;
    width: 50%;
    height: 0;
    padding-bottom: 56.05%;
    background: transparent url(https://res.cloudinary.com/glinkaco/image/upload/v1645641417/tgc2022/blogImages/case-spinning-image/cork-screw_bksz3t.jpg) no-repeat 0;
    background-size: cover;
    margin: 40px auto; 
  }
  .section-spinning-image-demo .imageSpinContainer.afterLoad {
    background: transparent url(https://res.cloudinary.com/glinkaco/image/upload/v1645641414/tgc2022/blogImages/case-spinning-image/cork-screw-spinning_gldoeg.jpg) no-repeat 0;
    background-size: cover; 
  }
</style>

<section class="section-spinning-image-demo {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="imageWrapper">
    <div class="imageSpinContainer imgOne afterLoad" data-spin-continuously="true" style="background-position: 80% 0px;"></div>
  </div>
</section>