<style>
  .demo-svg {
    width: 100%;
    height: 0;
    padding-bottom: 125%;
    margin: 50px 0 0;
    background: none;
    position: relative;
    z-index: 99;
    transition: all 1s;
  }
  .demo-svg .animate-image {
    position: absolute;
  }
  .demo-svg .animate-rect-1 {
    width: 40%;
    top: 0;
    left: 20%;
  }
  .demo-svg .animate-rect-2 {
    width: 70%;
    top: 10%;
    left: 10%;
  }
  .demo-svg .animate-rect-3 {
    width: 60%;
    top: 30%;
    left: 30%;
  }

  @media (max-width: 700px) {
    .blog-post .column-wrap .main-column {
      width: 100%;
      float: none;
    }
    .blog-post .column-wrap aside {
      width: 100%;
      margin: 0;
    }
  }

  .center-child {
    text-align: center;
  }

  .btn {
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .btn.btn-primary {
    background-color: #a70000;
    color: #fff;
  }
  .btn:focus,
  .btn:hover {
    opacity: 0.6;
    text-decoration: none;
  }
</style>

<section class="section-svg-animation-demo {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="demo-svg">
    <svg class="animate-image animate-rect-1" version="1.1" viewBox="0 0 180 400" preserveAspectRatio="xMinYMin meet">
      <g>
        <path d="M180,400H0V0h180V400z" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="3"></path>
        <path d="M170.487,389.999h-160v-380h160V389.999z" fill="none" stroke="#000000" stroke-miterlimit="10"></path>
      </g>
    </svg>
    <svg class="animate-image animate-rect-2" version="1.1" viewBox="-1.5 -1.5 313 203" preserveAspectRatio="xMinYMin meet">
      <g>
        <path d="M310,200H0V0h310V200z" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="3"></path>
        <path d="M300.365,189.878H10.366v-180h289.999V189.878z" fill="none" stroke="#000000" stroke-miterlimit="10"></path>
      </g>
    </svg>
    <svg class="animate-image animate-rect-3" version="1.1" viewBox="62.146 64.769 233 263" preserveAspectRatio="xMinYMin meet">
      <path d="M293.646,326.27h-230v-260h230V326.27z" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="3"></path>
    </svg>
  </div>

  <p class="center-child" >
    <a class="btn btn-primary start-animation">Start Animation</a>
  </p>
</section>