---
layout: sections.njk
pageType: "page"

seo:
  title: Blog | Werner Glinka
  description: "Things I find valuable to share or random notes to myself."
  socialImage: "https://res.cloudinary.com/glinkaco/image/upload/v1646849499/tgc2022/social_yitz6j.png"
  canonicalOverwrite: ""


sections:
  - component: blog-list
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Blog
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: ""
    
---