---
title: My Blog
layout: sections.njk
pageType: "page"
disableDefaultFooter: false

sections:
  - component: blog-list
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Blogs
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: ""
    
---