---
title: Hello Title ;-)
layout: sections.njk
pageName: "home"

sections:
  - component: home-banner
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Werner Glinka
    header: "h1"
    headerClass: ""
    subTitle: Web Developer
    prose: ""

  - component: two-columns
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: true
    paddingBottom: true
    column1:
      title: "Skills"
      header: "h2"
      headerClass: "small"
      subTitle: ""
      prose: |-
          - Metalsmith
          - Gatsby 
          - Wordpress
          - Drupal
          - Javascript/React
          - HTML/CSS
      hasCtas: false
      ctas:
        - label: ""
          url: ""
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
          isExternal: false
    column2:
      title: "About"
      header: "h2"
      headerClass: "small"
      subTitle: ""
      prose: |-
          The web is something I work on every day, and it's also something that deeply intrigues me. It's powering a myriad of changes in our own individual lives and is also behind huge shifts in economics, culture and politics. Simply amazing!

          I am a web developer, I build websites for established corporate clients and exciting new start-ups all over the world. I build static websites, use Wordpress and other CMSs. Typically I collaborate on projects with design companies in the role of technical expert and implementer to compliment their creative expertise.

          Besides my technical expertise I draw from extensive experience as an engineering, marketing, and business executive. I know how to work with people at all levels and how to deliver projects on time. 

      hasCtas: true
      ctas:
        - label: "LinkedIn"
          url: "https://www.linkedin.com/in/werner-glinka-2a427/"
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
          isExternal: true
        - label: "Github"
          url: "https://github.com/wernerglinka"
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
          isExternal: true
  
  - component: customers
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: true
    marginBottom: true
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: I have worked with these companies
    header: "h2"
    headerClass: "small"
    subTitle: ""

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: How is this site build?
    header: "h2"
    headerClass: ""
    subTitle: ""
    prose: |-
      Gulp4 is used to process all assets first and then Metalsmith to build the site. Styles are written in SCSS and scripts in Javasript. 
      Content is written in [Markdown](https://www.markdownguide.org/) and templates are coded with [Nunjucks](https://mozilla.github.io/nunjucks/). 

      Swup is used for page transitions and page prefetching to provide the user with a smooth Single Page App (SPA) experience... or as much as one can do without actually building an SPA.

      Some implementation details to check out:
      - Page transition with [Swup](https://swup.js.org/).
      - Page backgrounds with [Gradien Magic](https://www.gradientmagic.com/) CSS.
      - Simple [Feather](https://feathericons.com/) icons.
      - Images hosted on [cloudinary.io](https://cloudinary.com/).
      - All images are loaded with Low Res Placeholders first and then replaced when the image enters the browser viewport (lazy load).
    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isExternal: false
        isButton: true
        buttonStyle: "primary"
  
---