---
title: Hello Title ;-)
layout: sections.njk
pageName: "home"
disableDefaultFooter: true

sections:
  - component: home-banner
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: Werner Glinka
    header: "h1"
    headerClass: ""
    subTitle: Web Developer
    prose: ""
    image1:
      src: "v1644432008/tgc2022/the-answer_nfjvdd.jpg"
    image2:
      src: "v1644435565/tgc2022/cracks1_zqsxz8.jpg"

  - component: two-columns
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: true
    marginBottom: true
    paddingTop: true
    paddingBottom: true
    column1:
      title: "Skills"
      header: "h2"
      headerClass: "small"
      subTitle: ""
      prose: |-
          - Metalsmith
          - Gatsby 
          - Wordpress
          - Drupal
          - Javascript/React
          - HTML/CSS
      hasCtas: false
      ctas:
        - label: ""
          icon: ""
          url: ""
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
    column2:
      title: "About"
      header: "h2"
      headerClass: "small"
      subTitle: ""
      prose: |-
          My name is Werner Glinka. A Silicon Valley refugee now living in the beautiful St. Croix Valley in Eastern Minnesota. I am a web developer, I build websites for established corporate clients and exciting new start-ups all over the world. I build static websites, use Wordpress and other CMSs. Typically I collaborate on projects with design companies in the role of technical expert and implementer to compliment their creative expertise.

          I am an active contributor to the open source project [Metalsmith](https://www.metalsmith.io/), and have authored and maintain several plugins. Check out my [projects](/projects);

          Besides my technical expertise I draw from extensive experience as an engineering, marketing, and business executive. I know how to work with people at all levels and how to deliver projects on time. 

      hasCtas: true
      ctas:
        - label: "LinkedIn"
          icon: linkedin
          url: "https://www.linkedin.com/in/werner-glinka-2a427/"
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
        - label: "Github"
          icon: github
          url: "https://github.com/wernerglinka"
          isVideoTrigger: false
          isButton: false
          buttonStyle: ""
  
  - component: customers
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: true
    marginBottom: true
    paddingTop: true
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: I have worked with these companies
    header: "h2"
    headerClass: "small"
    subTitle: ""

  - component: testimonials
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: true
    marginBottom: true
    paddingTop: false
    paddingBottom: true
    backgroundColor: ""
    targetId: ""
    title: People like to work with me
    header: "h2"
    headerClass: "small"
    subTitle: ""

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: "v1644512964/tgc2022/worn_xdtvqe.jpg"
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
---