---
layout: sections.njk
pageType: "page"

seo:
  title: Portfolio | Werner Glinka
  description: "Samples of my work. Most of the websites that I have build are for small to medium size companies but I have also build sites for non-profit organizations pro bono, from the Peninsula Museum of Art to TechnovationMN"
  socialImage: "https://res.cloudinary.com/glinkaco/image/upload/v1646849499/tgc2022/social_yitz6j.png"
  canonicalOverwrite: ""

sections:
  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: Portfolio
    header: "h1"
    headerClass: ""
    subTitle: A sample of websites I have build
    prose: |-
      Here are just a few samples of my work. Most of the websites that I have build are for small to medium size companies but I have also build sites for non-profit organizations pro bono, from the [Peninsula Museum of Art](https://www.peninsulamuseum.org/) to [Technovation[MN]](https://technovationmn.org/).

      I have worked with in-house design teams and design firms, using Content Management Systems like Drupal, Wordpress and Joomla and static sites with Metalsmith and Gatsby.

      While building websites, I take into account accessibility, SEO, functionality, and the various platforms the site might be viewed on.

    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isButton: false
        buttonStyle: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "Netomi"
    header: "h3"
    headerClass: ""
    subTitle: "AI customer service and support."
    prose: |-
      [Netomi](https://www.netomi.com/) empowers brands to leverage the “Net” (sum) of its AI, along with their human capital, to connect with what is fundamental to them (“Om, the primordial sound”) to ultimately bring out their best self (“I”) for their customers. 
      
      The website was build in 2022 with the Wordpress CMS and was designed by the Netomi in-house design team.
      
      All images are managed by [cloudinary.io](https://cloudinary.com/) a digital asset management service.  
      
      <p class="tech-tags">Wordpress | PHP | jQuery | HTML | CSS</p>

    hasCtas: false
    ctas:
      - label: "Checkout the website"
        icon: ""
        url: "https://www.fdap.org/"
        isVideoTrigger: false
        isButton: true
        buttonStyle: "primary"
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1683651036/netomi_etbvnc.png"
      alt: "Netomi homepage"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""
  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "Safebreach"
    header: "h3"
    headerClass: ""
    subTitle: "Challenge your security before attackers do."
    prose: |-
      Safebreach proves services that continuously validate all layers of a company's security with breach and attack simulation (BAS) powered by threat intelligence. 
      
      The corporate website was build in 2022 with [Gatsby](https://www.gatsbyjs.com/), a static site generator. The site was designed by a Bay Area design company.
      All images are managed by [cloudinary.io](https://cloudinary.com/) a digital asset management service.  
      
      <p class="tech-tags">JAMstack | Gatsby | React | Javascript | HTML | CSS-in-JS</p>

    hasCtas: false
    ctas:
      - label: "Checkout the website"
        icon: ""
        url: "https://www.fdap.org/"
        isVideoTrigger: false
        isButton: true
        buttonStyle: "primary"
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1683651036/safebreach_d4up9p.png"
      alt: "FDAP homepage"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "First District Appellate Project"
    header: "h3"
    headerClass: ""
    subTitle: "FDAP’s mission is to ensure quality representation of indigent parties in criminal, delinquency, dependency, and mental health appeals in the First Appellate District and in the California Supreme Court."
    prose: |-
      The [First District Appellate Project (FDAP)](https://www.fdap.org/) is a non-profit law office created in 1985 through a partnership with the California Court of Appeal – First Appellate District, the Bar Association of San Francisco, and the Administrative Office of the Courts. 
      
      The website was build in 2021 with the Wordpress CMS. The site was designed by [Busse Design USA](http://www.bussedesign.com/).
      
      <p class="tech-tags">Wordpress | jQuery | PHP | HTML | CSS</p>

    hasCtas: false
    ctas:
      - label: "Checkout the website"
        icon: ""
        url: "https://www.fdap.org/"
        isVideoTrigger: false
        isButton: true
        buttonStyle: "primary"
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645142522/tgc2022/fdap_qnwwrc.jpg"
      alt: "FDAP homepage"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""
  
  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "PerimeterX"
    header: "h3"
    headerClass: ""
    subTitle: "PerimeterX is the leading provider of solutions that secure digital businesses against automated fraud and client-side attacks."
    prose: |-
      The current corporate website was build in 2020 with [Gatsby](https://www.gatsbyjs.com/), a static site generator. The site was designed by the PerimeterX in-house design team.
      All images are managed by [cloudinary.io](https://cloudinary.com/) a digital asset management service.  
      
      <p class="tech-tags">JAMstack | Gatsby | React | Javascript | HTML | CSS-in-JS</p>

      A previous version of the PerimeterX corporate website was build in 2017 with [Metalsmith](https://www.metalsmith.io/) a node based static site generator. Site design by [Loolyan](http://loolyan.com/).
      
      <p class="tech-tags">JAMstack | Metalsmith | jQuery | HTML | SCSS</p>

    hasCtas: false
    ctas:
      - label: "Checkout the website"
        icon: ""
        url: "https://www.perimeterx.com/"
        isVideoTrigger: false
        isButton: true
        buttonStyle: "primary"
    mediaType: Image
    video:
      src: youtube
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645133715/tgc2022/perimeterx_n8blwa.jpg"
      alt: "PerimeterX homepage"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "batterychargers.com"
    header: "h2"
    headerClass: ""
    subTitle: "batterychargers.com brings experience, innovation and excellence to the next generation of battery maintenance."
    prose: |-
        
        [batterychargers.com](https://batterychargers.com) was build in 2018 with [Drupal7](https://www.drupal.org/drupal-7.0),  the friendly and powerful content management platform for building nearly any kind of website: from blogs and micro-sites to collaborative social communities. The site was designed by [Busse Design USA](http://www.bussedesign.com/).
        
        <p class="tech-tags">Drupal7 | jQuery | PHP | HTML | SCSS</p>

    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        isButton: false
        buttonStyle: ""
        isVideoTrigger: false
        videoId: ""
    mediaType: Image
    video:
      src: youtube
      id: "S70xyRYCNdY"
      tn: "v1636656059/gatsby4mdx/one-tree_nnl9ts.jpg"
      aspectRatio: "56.25"
    image:
      src: "v1645139093/tgc2022/schumacher_zei39e.jpg"
      alt: "Batterychargers.com home page"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "Loma Communications"
    header: "h2"
    headerClass: ""
    subTitle: "We develop powerful communicators, leaders and organizations through innovative coaching and training programs."
    prose: |-
        [Loma Communications](https://www.lomacommunications.com/) is a communications and coaching compay working with clients like the Stanford Business School, Mayo Clinic, Adobe and other leaders in their fields.

        This corporate site was build in 2015 with pure HTML. The site was designed by [Quirk Creative](http://www.findyourquirk.com/), New York.
        
        <p class="tech-tags">HTML | jQuery | SCSS</p>

    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        isButton: false
        buttonStyle: ""
        isVideoTrigger: false
        videoId: ""
    mediaType: Image
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645140961/tgc2022/loma_hjjtir.jpg"
      alt: "lomacommunications.com home page"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""    
  
  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "Technovation[MN]"
    header: "h2"
    headerClass: ""
    subTitle: "Technovation[MN] inspires and empowers girls to build and leverage technology to make an impact on their communities."
    prose: |-
        
        The [Technovation[MN]](https://technovationmn.org/) website was build in 2018 with the Wordpress CMS. It is a complete rebuild of an earlier site. Using the existing color scheme I refreshed the look and feel and brought the visuals into the 21st century.
        
        <p class="tech-tags">Wordpress | PHP | HTML | jQuery | SCSS</p>

    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        isButton: false
        buttonStyle: ""
        isVideoTrigger: false
        videoId: ""
    mediaType: Image
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645141904/tgc2022/technovation-mn_fb6gjy.jpg"
      alt: "Technovation Minnesota home page"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""    
  
  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: true
    title: "Witness"
    header: "h2"
    headerClass: ""
    subTitle: "WITNESS helps people use video and technology to protect and defend human rights."
    prose: |-
        [witness.org](https://www.witness.org/) was build in 2011 with Drupal6. The site was designed by [Busse Design USA](http://www.bussedesign.com/).
        
        <p class="tech-tags">Drupal6 | jQuery | PHP | HTML | SCSS</p>

    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        isButton: false
        buttonStyle: ""
        isVideoTrigger: false
        videoId: ""
    mediaType: Image
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645142102/tgc2022/witness_abgapu.jpg"
      alt: "Witness.org home page"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""    

  - component: media
    animateSection: true
    inContainer: true
    hasBackground: false
    bgColor: ""
    bgIsDark: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    reverse: false
    title: "Instart Logic"
    header: "h2"
    headerClass: ""
    subTitle: "Instart Logic developed a Digital Experience Cloud that improves web and mobile application performance."
    prose: |-
        This website was build in 2014 with Drupal7. The site was designed by [1185 Design, California](http://www.1185design.com/).
        
        <p class="tech-tags">Drupal7 | jQuery | PHP | HTML | SCSS</p>

    hasCtas: false
    ctas:
      - label: ""
        icon: ""
        isButton: false
        buttonStyle: ""
        isVideoTrigger: false
        videoId: ""
    mediaType: Image
    video:
      src: ""
      id: ""
      tn: ""
      aspectRatio: ""
    image:
      src: "v1645143228/tgc2022/instartlogic_sysrhf.jpg"
      alt: "instartlogic.com home page"
      aspectRatio: "60"
    lottieData:
      src: ""
      control:
        autoplay: true
        loop: true
    icon: ""
    audio:
      bgImage: ""
      aspectRatio: ""
      ogg: ""
      mpeg: ""  

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: "v1644512964/tgc2022/worn_xdtvqe.jpg"
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
---  
---