---
layout: sections.njk
pageType: "page"
disableDefaultFooter: true

seo:
  title: Open Source Projects | Werner Glinka
  description: "Open source projects include Metalsmith a static site generator."
  socialImage: "https://res.cloudinary.com/glinkaco/image/upload/v1646849499/tgc2022/social_yitz6j.png"
  canonicalOverwrite: ""

sections:
  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: Projects
    header: "h1"
    headerClass: ""
    subTitle: Dabbling in Open Source
    prose: |-
      My main area of interest is [Metalsmith](https://www.metalsmith.io/) a static site generator that encourages me to learn more about node. Metalsmith has a by-line _An extremely simple, pluggable static site generator_ but that only tells part of the story. At its core, Metalsmith is an "engine" that reads files from a directory, turns them into a javascript object, exposed the object to plugins for manipulation and finally turns the object back into files, then writes them to a destination directory. 

    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isButton: false
        buttonStyle: ""
  
  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1645119351/tgc2022/what-is-metalsmith_x9t5nr.jpg"
      aspectRatio: "48.3"
      caption: "How Metalsmith works"

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: ""
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: |-
      
      Compared to monoliths like Gatsby or Hugo, it is easy to see what Metalsmith does. Even fairly sophisticated plugins can be written by taking advantadge of node plugins, and there are a myriad of them.

      Metalsmith lay dormant for a while. It was initially created by  [Segment](https://segment.com/) in early 2014. But after a couple of years the project languished. 

      Recently, a new lead developer/maintainer Kevin Van Lierde AKA [webketje](https://github.com/webketje) has taken over and Metalsmith is now again under active development. [Read more about this history here](https://www.metalsmith.io/about/).

    hasCtas: true
    ctas:
      - url: "https://www.metalsmith.io/"
        label: Metalsmith website
        isButton: true
        buttonStyle: "primary"
      - url: "https://github.com/metalsmith"
        label: Metalsmith Github Repsitory
        isButton: true
        buttonStyle: "primary"

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: true
    marginBottom: false
    paddingTop: true
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: "Plugins"
    header: "h2"
    headerClass: ""
    subTitle: ""
    prose: |-
      I have build several plugins that are available to the community on my GitHub repo or via npm. I also try to contribute to existing plugins.

      #### [Metalsmith Markdown Partials](https://github.com/wernerglinka/metalsmith-markdown-partials)
      Enables the reuse of markdown partials. These partials are inserted into the contents of a markdown file by replacing an include marker. This allows for modular markdown and promotes reuse of content.

      #### [Metalsmith Blog Lists](https://github.com/wernerglinka/metalsmith-blog-lists)
      Adds the following lists to the metadata. This makes this data accessible to all pages and may be used to create widgets that promote featured and/or latest blogposts. This plugin requires all blogposts to be located in `blog/` of the content directory.

      - All Blogs
      - Recent Blogs
      - Featured Blogs
      - Annualized Blogs List

      #### [Metalsmith Safe Links](https://github.com/wernerglinka/metalsmith-safe-links)
      Reformats links, strips the protocal and host name from local links and adds a target and rel attribute to external links. As markdown syntax only allows for alt and title attributes in links, content editors normally must use HTML to add other attributes. This plugin negates the use of HTML for links in a markdown document.

      #### [Metalsmith Prism](https://github.com/wernerglinka/metalsmith-prism)
      Syntax highlighting for Metalsmith HTML templates using [Prism.js](https://prismjs.com/).
      This plugin was authored by Robert McGuinness and sponsored by Availity. I assumed maintenance in March 2022.

      #### [Metalsmith Static Files](https://github.com/wernerglinka/metalsmith-static-files)
      Copies a directory from the source folder to the build folder. Since metalsmith-assets is deprecated and the repo is archived, I needed an up-to-date plugin.
      
    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isButton: false
        buttonStyle: ""

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: true
    marginBottom: false
    paddingTop: true
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: "Starters"
    header: "h2"
    headerClass: ""
    subTitle: ""
    prose: |-
      Here are some starters that may be helpful to get started with building a Metalsmith site.

      #### [Metalsmith Bare-bones Starter](https://github.com/wernerglinka/metalsmith-bare-bones-starter)
      As the name says, this starter is providing a bare-bones setup to get you started. It uses Markdown content and Nunjucks templating and has a couple of pages. The rest is up to you.

      **Plugins:**
      - @metalsmith/drafts
      - metalsmith-metadata
      - @metalsmith/markdown
      - @metalsmith/permalinks
      - metalsmith-layouts
      - metalsmith-assets
      - metalsmith-if
      - metalsmith-html-minifier

      #### [Metalsmith Blog Starter](https://github.com/wernerglinka/metalsmith-blog-starter)
      A blog starter, based on the Metalsmith Bare-bones Starter. It adds a blog landing page and several "greek" blog posts. The rest is up to you.

      **Plugins:**
      - @metalsmith/drafts
      - metalsmith-metadata
      - @metalsmith/collections
      - @metalsmith/markdown
      - @metalsmith/permalinks
      - @metalsmith/layouts
      - metalsmith-prism
      - metalsmith-assets
      - metalsmith-if
      - metalsmith-html-minifier

      #### [Metalsmith Company Starter](https://github.com/wernerglinka/metalsmith-company-starter)
      Company websites are normally more complex than your average portfolio or blog site. Here is a starter that inlcudes flexible page layouts, a responsive/progressive image component and more.

      **Plugins:**
      - @metalsmith/drafts
      - metalsmith-metadata
      - @metalsmith/collections
      - @metalsmith/markdown
      - @metalsmith/permalinks
      - @metalsmith/layouts
      - metalsmith-prism
      - metalsmith-static
      - @metalsmith/sass
      - @metalsmith/postcss
      - metalsmith-if
      - metalsmith-html-minifier

    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isButton: false
        buttonStyle: ""

  - component: contact-footer
    disabled: false
    animateSection: false
    inContainer: false
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    image:
      src: "v1644512964/tgc2022/worn_xdtvqe.jpg"
      alt: ""
      aspectRatio: "56.25"
    hasCtas: true
    ctas:
      - label: "LinkedIn"
        icon: linkedin
        url: "https://www.linkedin.com/in/werner-glinka-2a427/"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
      - label: "Github"
        icon: github
        url: "https://github.com/wernerglinka"
        isVideoTrigger: false
        isButton: false
        buttonStyle: ""
---