---
title: Open Source Projects
layout: sections.njk
pageName: "projectsPage"
disableDefaultFooter: false

sections:
  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: Projects
    header: "h1"
    headerClass: ""
    subTitle: Dabbling in Open Source
    prose: |-
      My main area of interest is [Metalsmith](https://www.metalsmith.io/) a static site generator that encourages me to learn more about node. Metalsmith has a by-line _An extremely simple, pluggable static site generator_ but that only tells part of the story. At its core, Metalsmith is an "engine" that reads files from a directory, turns them into a javascript object, exposed the object to plugins for manipulation and finally turns the object back into files and writes them to a destination directory. 

    hasCtas: false
    ctas:
      - url: ""
        label: ""
        isButton: false
        buttonStyle: ""
  
  - component: image
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    header: ""
    subTitle: ""
    prose: ""
    image:
      src: "v1645119351/tgc2022/what-is-metalsmith_x9t5nr.jpg"
      aspectRatio: "48.3"
      caption: "How Metalsmith works"

  - component: intro
    disabled: false
    animateSection: false
    inContainer: true
    marginTop: false
    marginBottom: false
    paddingTop: false
    paddingBottom: false
    backgroundColor: ""
    targetId: ""
    title: ""
    header: "h1"
    headerClass: ""
    subTitle: ""
    prose: |-
      
      Compared to monoliths like Gatsby or Hugo, it is easy to see what Metalsmith does. Even fairly sophisticated plugins can be written by taking advantadge of node plugins, and there are a myriad of them.

      Metalsmith lay dormant for a while. It was initially created by  [Segment](https://segment.com/) in early 2014. But after a couple of years the project languished. 

      Recently, a new lead developer/maintainer Kevin Van Lierde AKA [webketje](https://github.com/webketje) has taken over and Metalsmith is now again under active development. [Read more about this history here](https://www.metalsmith.io/about/).

    hasCtas: true
    ctas:
      - url: "https://www.metalsmith.io/"
        label: Metalsmith website
        isButton: false
        buttonStyle: ""
      - url: "https://github.com/metalsmith"
        label: Metalsmith Github Repsitory
        isButton: false
        buttonStyle: ""
  
---