{% from "../partials/icon.njk" import icon %}

<footer>
  <div class="container">
    {# <p>Last site build: {{ stats.atime | UTCdate }}</p> #}
    <p class="copyright">
      © 2022 Werner Glinka
    </p>
  </div>
  <a class="to-top" href="#at-top">{{ icon("arrow-up-circle") }}</a>
</footer>