<link rel="stylesheet" href="/assets/fonts/fonts.css">
<link rel="stylesheet" href="/assets/styles/prism-styles.css">
<link rel="stylesheet" href="/assets/styles/slider-base-styles.css">
<link rel="stylesheet" href="/assets/styles/styles.css">