<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://unpkg.com/benmajor-jquery-touch-events@1.0.5/src/jquery.mobile-events.js"></script>


<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script>
  // custom event for api loaded
  const videoAPIReady = new Event("videoAPIReady");

  function onYouTubeIframeAPIReady() {
    "use strict";
    window.dispatchEvent(videoAPIReady);
  }
</script>