<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>


<body>
  <div id="at-top"></div>
  {% include "partials/header.njk" %}

  <main id="swup" class="transition-fade">
    {% block body %}
      This is the default contents
    {% endblock %}
  </main>

  {% if not disableDefaultFooter %}
    {% include "partials/footer.njk" %}
  {% endif %}
  
  {% include "partials/scripts.njk" %}

</body>
</html>